<div class="container mt-2">
  <form action="/" method="POST" class="d-flex flex-column align-items-center" style="width: 760px;">
    <div class="form-group" style="width: 760px;">
      <input class="form-control form-control-lg bg-light border-0" type="text" placeholder="Input URL here"
        name="originalURL">
    </div>

    <button type="submit" class="btn btn-outline-primary font-weight-bold" style="width: 300px;">Shorten</button>
  </form>
</div>